.pagination {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--ink-color);
    text-align: center;
    font-family: 'Playfair Display', serif;
}

.pagination a, .pagination span {
    display: inline-block;
    margin: 0 5px;
    text-decoration: none;
    color: var(--ink-color);
    font-size: 1.2rem;
    padding: 5px 10px;
}

.pagination a:hover {
    text-decoration: underline;
}

.pagination .current-page {
    font-weight: bold;
    border: 1px solid var(--ink-color);
    background-color: var(--ink-color);
    color: white;
}

.section-header {
    text-align: center;
    border-bottom: 3px double var(--ink-color);
    margin: 20px 0 40px 0;
    padding-bottom: 10px;
}

.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
}
